html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff url(../img/geometry2.png); /* Background pattern from Subtle Patterns */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 300;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*
 * Styles for the deck of cards
 */

.deck {
    align-items: center;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 3em;
    min-height: 680px;
    padding: 32px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    width: 660px;
}

.deck .card {
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    background: #2e3d49;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 0;
    height: 125px;
    justify-content: center;
    width: 125px;
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    animation-duration: 2s;
    animation-name: match;
    background: #02ccba;
    cursor: default;
    font-size: 33px;
}

.deck .card.error {
    animation-duration: 2s;
    animation-name: error;
    background: #db33cd;
    cursor: default;
    font-size: 33px;
}

/*
* Styles for the Score Panel
*/

.score-panel {
    margin-bottom: 10px;
    text-align: left;
    width: 345px;
}

.score-panel .stars {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
}

.score-panel .stars li {
    display: inline-block;
    list-style: none;
}

.fa-star {
    color: #e4a802;
}

.score-panel .restart {
    float: right;
}

.fa-repeat {
    color: #02ccba;
    cursor: pointer;
    padding-right: 5px;
}

/*
* Styles for the Modal
*/

#overlay {
    background:rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 0px;
    visibility: hidden;
    width: 100%;
    z-index: 1000;
}

.modal {
    background-color: #fff;
    max-width: 700px;
    margin: 50px auto;
    padding: 20px 60px 50px 60px;
    text-align:center;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.fa-times {
    color: #333;
    float: right;
    position: relative;
    right: -30px;
}

.fa-times:hover {
    color: #02ccba;
}

.fa-check-circle {
    color: #02ccba;
    font-size: 50px;
    padding-top: 20px;
}

.total-moves,
.total-stars {
    color: #02ccba;
    font-weight: bold;
}

.button {
    color: #fff;
    background: #02b3e4;
    padding: 15px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font: 15px 'Open Sans', sans-serif;
    font-weight: 300;
}

.button:hover {
    background: #02ccba;
}


/*
* Animation keyframes
*/

@keyframes error {
    0% {
        background-color: #333;
    }
    25% {
        background-color: #db33cd;
        transform: rotate(7deg);
    }
    50% {
        background-color: #f036e0;
    }
    75% {
        background-color: #db33cd;
        transform: rotate(-7deg);
    }
    100% {
        background-color: #db33cd;

    }
}

@keyframes match {
    0% {
        background-color: #333;
    }
    25% {
        background-color: #02ccba;
        transform: translateY(7px);
    }
    50% {
        background-color: #00ddcb;
    }
    75% {
        background-color: #02ccba;
        transform: translateY(-7px);
    }
    100% {
        background-color: #02ccba;
    }
}
